{% extends 'base.html' %}

{% block title %}Projects – My Portfolio{% endblock %}

{% block content %}
<section class="section projects-section" id="projects">
  <h2>Projects</h2>

  <!-- Project Card 1 -->
  <div class="project-card">
    <h3>Coffee sales</h3>
    <p>
      Built an interactive Coffee sales dashboard using  Excel to visualize
     sales trends, Sales by Country, Top Customers.
     <b>🛠️ Tools Used:</b> Microsoft Excel
    </p>
    <a
      href="https://github.com/Vamc-24/Coffee_sales_Project"
      target="_blank"
      class="btn"
      >View on GitHub</a
    >
  </div>

  <!-- Project Card 2 -->
  <div class="project-card">
    <h3>Netflix Exploratory Data analysis</h3>
    <p>
      🚀 Netflix Movie Trends: My First Exploratory Data Analysis Project! 📊<br>
      🎬 Most Frequent Genre<br>
      ⭐ Most Popular Movies<br>
      📅 Peak Release Year<br>
      <b>🛠️ Tools Used:</b><br>
      To conduct this analysis, I utilized:<br>
      🐼 Pandas for data manipulation and analysis.<br>
      📊 Matplotlib & Seaborn for data visualization.<br>



    </p>
    <a
      href="https://github.com/Vamc-24/Exploratory_Data_Analysis"
      target="_blank"
      class="btn"
      >View on GitHub</a
    >
  </div>

 <!-- Project Card 3 -->
  <div class="project-card">
    <h3>Spotify Analysis using SQL</h3>
    <p>
This project involves analyzing a Spotify dataset with various attributes about tracks, albums, and artists using SQL. It covers an end-to-end process of normalizing a denormalized dataset, performing SQL queries of varying complexity (easy, medium, and advanced). The primary goals of the project are to practice advanced SQL skills and generate valuable insights from the dataset.<br>

<b>Database:</b> PostgreSQL<br>

<b>SQL Queries:</b> DDL, DML, Aggregations, Joins, Subqueries, Window Functions<br>
<b>Technology Stack :</b><br>
<b>Database:</b> PostgreSQL SQL Queries: DDL, DML, Aggregations, Joins, Subqueries, Window Functions<br>
<b>Tools:</b> pgAdmin 4 (or any SQL editor), PostgreSQL (via Homebrew, Docker, or direct installation)

    </p>
    <a
      href="https://github.com/Vamc-24/Spotify-Analysis-using-SQL"
      target="_blank"
      class="btn"
      >View on GitHub</a
    >
  </div>
</section>
{% endblock %}
