{% extends 'base.html' %}

{% block title %}Skills – My Portfolio{% endblock %}

{% block content %}
<section class="section skills-section" id="skills">
  <h2>Skills</h2>
  <ul class="skills-list">
    <li>Python, SQL(PostgreSQL,MySQL, SQLite), Pandas, NumPy</li>
    <li>Flask, Excel, Power BI</li>
    <li>Data Visualization (Matplotlib/Seaborn), Data Preparation / Cleaning, Exploratory Data Analysis(EDA)</li>
    <li>Git, GitHub, Visual Studio Code, PYcharm</li>
    <li>Research Skills, Statistics, Communication, Presentation</li>
  </ul>
  <h2>Building skills</h2>
  <ul class="skills-list">
    <li><b>Machine Learning :</b> Supervised learning,  unsupervised learning, model evaluation, and optimization techniques. </li>
    <li><b>Deep Learning :</b> Building and training neural networks, working with CNNs and RNNs.</li>
    <li><b>Natural Language Processing :</b> Text preprocessing, sentiment analysis, working with transformer models.</li>
    <li><b>Mathematics for ML:</b> Linear algebra, calculus, and probability theory as they apply to ML algorithms.</li>
    <li><b>Model Deployment: </b>  Creating APIs with Flask and FastAPI, building dashboards with Streamlit.</li>
    <li><b>MLOps:</b>  Implementing CI/CD pipelines, model versioning with DVC, and monitoring and managing deployed models.</li>
    <li><b>Mathematics for ML:</b>  Linear algebra, calculus, and probability theory as they apply to ML algorithms.</li>


  </ul>
</section>
{% endblock %}
